<dt class="mat-body-strong">
  {{ question }}
</dt>

<dd *ngIf="answer; else useChildren" class="mat-body-1">{{ answer }}</dd>

<ng-template #useChildren>
  <dd class="mat-body-1"><ng-content></ng-content></dd>
</ng-template>
